@import "tailwindcss";

@theme {
  /* Metallic Colors */
  --color-bronze-light: #d8aa71;
  --color-bronze: #a97e41;
  --color-bronze-dark: #805c2c;

  --color-silver-light: #e2e8f0;
  --color-silver: #a1a1aa;
  --color-silver-dark: #7f7f8a;

  --color-gold-light: #fef08a;
  --color-gold: #eab308;
  --color-gold-dark: #ca8a04;

  /* Raw Brand Colors from Image */
  --color-brand-pink: #f472b6;
  --color-brand-purple: #a78bfa;
  --color-brand-teal: #2dd4bf;
  --color-brand-blue: #60a5fa;
  --color-brand-green: #4ade80;
  --color-brand-yellow: #fde047;

  /* Semantic Theme Colors */
  --color-primary: var(--color-brand-pink);
  --color-secondary: var(--color-brand-purple);
  --color-accent: var(--color-brand-teal);

  --color-content-on-light: #1f2937; /* Dark text for light backgrounds */
  --color-content-on-light-secondary: #475569; /* Lighter dark text */

  --color-content-on-dark: #f9fafb; /* Light text for dark backgrounds */
  --color-content-on-dark-secondary: #d1d5db; /* Darker light text */

  --color-base-100: #ffffff; /* A dark base background */
  --color-base-200: #f3f4f6; /* For elements on top of base-100, like cards */

  /* Card Variables */
  --card-width: 300px;
  --card-height: 420px;
  --modal-card-width: min(90vw, 600px);
  --modal-card-height: min(90vh, 840px);

  /* New variables for the calendar view */
  --calendar-card-width: 150px;
  --calendar-card-height: 210px;
}

@layer utilities {
  .bg-vegan-gradient {
    background-image: linear-gradient(
      to bottom right,
      #15803d 10%,
      #16a34a 40%,
      #4ade80 80%,
      #bbf7d0
    );
  }
  .bg-vegetarian-gradient {
    background-image: linear-gradient(
      to bottom right,
      #0d9488 10%,
      #14b8a6 40%,
      #5eead4 80%,
      #ccfbf1
    );
  }
  .bg-chicken-gradient {
    background-image: linear-gradient(
      to bottom right,
      #ca8a04 10%,
      #eab308 40%,
      #fde047 80%,
      #fef9c3
    );
  }
  .bg-fish-gradient {
    background-image: linear-gradient(
      to bottom right,
      #2563eb 10%,
      #3b82f6 40%,
      #93c5fd 80%,
      #dbeafe
    );
  }
  .bg-red-meat-gradient {
    background-image: linear-gradient(
      to bottom right,
      #9333ea 10%,
      #a855f7 40%,
      #d8b4fe 80%,
      #f3e8ff
    );
  }
}

body {
  @apply bg-[var(--color-background-neutral)] text-content-on-light;
  min-height: 100vh;
}
